.slider-wrapper {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  position: absolute;
  top: 0;
  overflow: scroll;
  padding: 12rem;
  background-color: rgba(22, 20, 20, 0.9);
  max-width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
  top: 0;
  position: absolute;
  overflow-x: hidden;
   
  display: flex;
  align-items: center;
  
  flex-wrap: wrap;
justify-content: space-evenly;
}
@media (max-width: 500px) {
  .slider-wrapper {
    padding-top: 6rem;
    background-color: #202224;
  }
}
.sxva {
  padding: 0;  flex: 1 0 50%;
  min-width: 35rem;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*  border: 1px solid #ff4ba8; */
  border-radius: 2px;
}
.sxva:nth-child(1) img {
  animation: motion ease-in-out 1.6s;
}
.sxva:nth-child(2) img {
  animation: motion ease-in-out 1.5s;
}
.sxva:nth-child(3) img {
  animation: motion ease-in-out 1.4s;
}
.sxva:nth-child(4) img {
  animation: motion ease-in-out 1.3s;
}
.sxva:nth-child(5) img {
  animation: motion ease-in-out 1.2s;
}
.sxva:nth-child(6) img {
  animation: motion ease-in-out 1s;
}
.sxva img {
  
 
  transition: all linear 0.2s;
}
@media (max-width: 500px) {
  .sxva img {
    width: 32rem;
    margin: 0.5rem;
  }
}
.sxva img:hover {
  -webkit-box-shadow: 10px 13px 50px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 50px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 13px 50px -9px rgba(61, 59, 59, 0.75);
}

@keyframes motion {
  from {
    transform: translatez(-550px);
  }
  to {
    transform: translatez(0px);
  }
}
