.slider-wrapper {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  top: 0;
  padding:2rem;
  background-color: rgba(22, 20, 20, 0.973);
 
  
  font-size: 2rem;
   display: flex;
  overflow-x: hidden;
  position: absolute;
  flex-wrap: wrap;
 
}
@media (max-width: 500px) {
  .slider-wrapper {
    padding: 6rem 0 0 0;
    background-color: #202224;
  }
}
.sxva {
 
  flex: 1 0 50%;
  height: 55%;
 padding: 2rem;
 
}@media (max-width: 500px) {
  .sxva {
    padding: 0;
    border: none;
  }
}
 
.sxva:nth-child(5) img {
  width: calc(50%);
}

@media (max-width: 500px) {
  .sxva:nth-child(5) img  {
    width:100%;
  }
}
 
.sxva img {
  width: 100%;
  height: 90%;
  border: 1px solid white;
   
  transition: all linear 0.2s;
}
@media (max-width: 500px) {
  .sxva img {
    width: 32rem;
    margin: 0.5rem;
  }
}
.sxva img:hover {
  -webkit-box-shadow: 10px 13px 50px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 50px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 13px 50px -9px rgba(61, 59, 59, 0.75);
}

@keyframes motion {
  from {
    transform: translatez(-550px);
  }
  to {
    transform: translatez(0px);
  }
}
