.contact-wrapper {
  position: absolute;
  width: 100%;
  transition: all ease-in-out 0.3s;
  height: 100%;
  top: 0;

  background-color: rgba(22, 20, 20, 0.8);
}
.contact {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to left, #f64f5a93, #c471ed91, #12c2e996);
}

.p-wrapper {
  padding-left: 3rem;
  height: 50%;
  position: absolute;
  color: white;
  top: 40%;
}

@media (max-width: 500px) {
  .p-wrapper {
    justify-content: center;
    padding: 2.5rem;
    width: 100%;
    padding: 0;
  }
}

.contact img {
  position: absolute;
  width: 8rem;
  left: 45%;
  top: 2rem;
  opacity: 1;
}

.contact-gradient {
  position: absolute;
  font-family: "Finger Paint", cursive;
  width: 100%;
  height: 10%;
  top: 25%;
  color: #28b8ea;
  font-weight: lighter;
  display: flex;
  align-items: center;

  font-size: 3rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.589);
}

@media (max-width: 500px) {
  .contact-gradient {
    justify-content: center;
    padding: 2.5rem;
  }
}

.box-gradient {
  height: 10.1%;
  width: 65%;
  padding: 2rem;
  position: absolute;
  top: 25%;
  right: 0;
  animation: move 0.5s linear 0.6s;
  transition: all linear 1s;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
}
@media (max-width: 500px) {
  .box-gradient {
    display: none;
  }
}

.margin {
  margin: 1rem;
}
.cat {
  margin: 1rem;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

@keyframes move {
  from {
    width: 0;
  }
  to {
    width: 65%;
    opacity: 1;
  }
}
