.home-wrapper {
  position: absolute;
  width: 100%;
  transition: all ease-in-out 0.3s;
  height: 100%;
  top: 0;
  background-color: rgba(22, 20, 20, 0.8);
  display: flex;
}
@media (max-width: 500px) {
  .home-wrapper {
    overflow: scroll;
  }
}
.home {
  position: relative;
  width: 75%;
  height: 100%;
}

.type-wrapper {
  position: absolute;
  width: 50ch;
  height: 60%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.7rem;
  bottom: 0;
  font-family: inherit;
  color: #fff;
  text-align: left;
  margin-left: 3rem;
}
@media (max-width: 500px) {
  .type-wrapper {
    width: 90%;
    z-index: 10;
    text-align: justify;
    margin: 1rem;
    font-size: 1rem;
  }
}
.home-gradient {
  position: absolute;
  font-family: "Finger Paint", cursive;
  width: 100%;
  height: 10%;
  top: 25%;
  color: #28b8ea;
  font-weight: lighter;
  display: flex;
  align-items: center;

  font-size: 3rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.322);
}
@media (max-width: 500px) {
  .home-gradient {
    top: 20%;
  }
}
.nav {
  width: 25%;
  color: white;

  position: relative;

  background: -webkit-linear-gradient(to bottom, #414345a6, #23252698);
  background: linear-gradient(to bottom, #414345a6, #23252698);
}
@media (max-width: 500px) {
  .nav {
    background: -webkit-linear-gradient(to bottom, #4143450c, #23252600);
    background: linear-gradient(to bottom, #41434500, #23252602);
  }
}
.nav-gradient {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 25%;
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
@media (max-width: 500px) {
  .nav-gradient {
    top: 20%;
  }
}
@media (max-width: 500px) {
  .home-gradient h1 {
    font-size: 2.5rem;
    width: 100%;
  }
}
.home-gradient.fade-enter {
  transform: translateY(-2000px);
}

.home-gradient .fade-exit {
  transform: translateY(2100px);
}
