.App {
  text-align: center;
  height: 100vh;
}
/* .fade-entered {
  opacity: 1;
  z-index: 1;
  transform: rotate(460deg);
  transition: all 12s linear;
} */
.fade-enter {
  transform: translateX(-2000px);
}

.fade-exit {
  transform: translateX(2100px);
}
